.custom-header {
  background-color: #000;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  font-family: sans-serif;
  flex-wrap: wrap;
}



.custom-header p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.4;
}

.custom-header a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  margin-left: 1rem;
  position: relative;
  transition: color 0.3s ease;
}

.custom-header a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}

.custom-header a:hover {
  color: #ddd;
}

.custom-header a:hover::after {
  width: 100%;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  flex-direction: column;
}

.header-right {
  flex-direction: row;
  align-items: center;
}

.divider {
  margin: 0 0.5rem;
  color: #aaa;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-top: 3px solid black;
  background-color: white;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 90px;
  margin-right: 10px;
}

.nav-links button {
  margin-left: 5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.nav-links button:hover {
  cursor: pointer;
  border-bottom: solid #000;
  transform: scale(1.1);
}

.active-nav {
  border-bottom: 3px solid black !important;
}